services:
  controller:
    image: sketchdb-controller:latest
    container_name: {{ container_name }}
    volumes:
      - {{ input_config_path }}:/app/input/config.yaml:ro
      - {{ output_dir }}:/app/output
    command: [
      "--input_config", "/app/input/config.yaml",
      "--output_dir", "/app/output",
      "--prometheus_scrape_interval_ms", "{{ prometheus_scrape_interval_ms }}",
      "--streaming_engine", "{{ streaming_engine }}",
      "--prometheus-url", "{{ prometheus_url }}",
      "--query-language", "{{ query_language }}"{% if punting %},
      "--enable-punting"{% endif %}{% if data_ingestion_interval is not none %},
      "--data-ingestion-interval", "{{ data_ingestion_interval }}"{% endif %}
    ]
    network_mode: "host"
    restart: no
