**/__pycache__
**/*.pyc
**/*.swp
.DS_Store
.vscode/

dependencies/py/promql_utilities/promql_utilities.egg-info/
dependencies/py/promql_utilities/build/
dependencies/rs/**/target/

tests/**/*.json
!tests/**/test_data/*.json
tests/**/target/
